<div class="pt-5" *ngIf="group">
  <div class="header">
    <h3 class="mb-0">All Orders</h3>
    <a *ngIf="isInUserGroup()" type="button" class="btn btn-primary btn-sm mt-2 text-white" [routerLink]="['../../order/create/' + group.id]">Add Order</a>
    <h5 class="text-muted" *ngIf="group.orders.length == 0">no orders to display</h5>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let order of group.orders">
      <div class="card border-dark mt-md-3">
        <div class="card-body">
          <h5 class="card-title">User: {{order.user.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Products</h6>
          <ul class="list-group list-group-flush" *ngFor="let product of order.products">
            <li class="list-group-item">
              {{product.name}} {{product.amount}}x
            </li>
          </ul>
          <p class="card-text text-muted mt-md-3" *ngIf="order.claimUser!=null">Claimed by: {{order.claimUser.name}}</p>
          <button class="btn btn-primary mt-md-3" *ngIf="isInUserGroup() && order.claimUser==null && order.user.name!=loggedInUser.name" type="button" (click)="claimOrder(order.id)">claim this order</button>
          <div class="list-group-item" *ngIf="order.price">
            Price: &euro; {{order.price}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
