<div class="pt-5">
  <div *ngIf="group !== {}">
    <div class="header">
      <h3 class="mb-0">Group: {{group?.name}}</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mt-3">
          <div class="card-header card-title">
            <h5 class="card-title float-left">Users in this group</h5>
            <a type="button" class="float-right btn btn-success btn-sm" [routerLink]="['../add/' + id]">Add User</a>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="align-middle">{{group?.owner.name}}</a>
                <h6 class="float-right mt-1">owner</h6>
            </li>
            <li class="list-group-item" *ngFor="let user of group?.users">
              <a class="align-middle">{{user.name}}</a>
              <button type="button" class="float-right btn btn-danger btn-sm">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
